<?xml version="1.0"?>
<launch>
  <arg name="param_file" default="$(find bebop_vservo)/config/bebop_vservo.yaml" />
  <arg name="output" default="screen" />
  <arg name="caminfo_topic" default="bebop/camera_info" />
  <arg name="cmd_vel_topic" default="vservo/cmd_vel" />
  <arg name="enable_topic" default="vservo/enable" />
  <arg name="roi_topic" default="vservo/roi" />

  <node name="bebop_vservo_node" type="bebop_vservo_node" pkg="bebop_vservo" output="$(arg output)">
    <rosparam command="load" file="$(arg param_file)" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
    <remap from="bebop/camera_info" to="$(arg caminfo_topic)" />
    <remap from="enable" to="$(arg enable_topic)" />
    <remap from="track_roi" to="$(arg roi_topic)" />
  </node>
</launch>
